<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-user-list 
                [users]='users'
                (onRemove)='removeUser($event)'
                (onRemove)='removeDiag.show()'
                (onEdit)='editUser($event)'
            ></app-user-list>
        </div>
        <div class="col-sm-6">
            <app-user-form 
                actionName="Add" 
                panelTitle="Add new User" 
                (submitted)="state.addUser($event)"
            ></app-user-form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
            <app-user-form 
                *ngIf="userBeingEdited" 
                actionName="Update" 
                panelTitle="Edit user" 
                [user]="userBeingEdited"
                (submitted)="updateUser($event)"
            ></app-user-form>
        </div>
    </div>
</div>

<div bsModal #removeDiag="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirm</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="removeDiag.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want remove {{userBeingRemoved?.firstname}} {{userBeingRemoved?.lastname}} ?</p>
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-danger" 
                    (click)="state.removeUser(userBeingRemoved)" 
                    (click)="removeDiag.hide()"
                >Yes</button>
                <button type="button" class="btn btn-default" (click)="removeDiag.hide()">No</button>
              </div>
        </div>
    </div>
</div>